<!-- index.html -->
<html>

<head>
  <meta charset="utf-8">
</head>

<body>
  <div class='container' id='root'>
 </div>
    <input id='file' type='file'  name='files'  multiple='multiple' />
    <input id='dir' type="file" name='dir' webkitdirectory />
  <div>
    <button type='click' onclick="upload()" >UploadFile</button>
    <button type='click' onclick="uploadDir()" >UploadDir</button>
    <button type='click' onclick="rename()">Rename</button>
    <button type='click' onclick="download()">Download</button>
    <button type='click' onclick="deleteReq()">Delete</button>
    <button type='click' onclick="mkdir()">Mkdir</button>
    <button type='click' onclick="move()">Move</button>
  </div>
  <!-- <script src="bundle.js"></script> -->
  <script>
    function upload() {
      const files = document.getElementById('file').files;
      const formData = new FormData();
      for (let file of files) {
        formData.append('files', file, file.name);
      }
      formData.append('path', '/');
      const init = {
        method: 'POST',
        body: formData
      };
      fetch('/upload', init).then(res => console.log(res));
    }

    function uploadDir() {
      const files = document.getElementById('dir').files;
      const formData = new FormData();
      for (let file of files) {
        formData.append('files', file, file.name);
        formData.append('webkitRelativePath[]', file.webkitRelativePath);
      }
      formData.append('path', '/');
      const init = {
        method: 'POST',
        body: formData
      };
      fetch('/uploaddir', init).then(res => console.log(res));
    }

    function rename() {
      const payload = {
        key: 3,
        name: 'pic.jpg',
        isdir: false
      }
      const headers = {
        'Accept': 'application/json, text/plain, */*',
        'Content-Type': 'application/json'
      }
      const init = {
        headers,
        method: 'PUT',
        body: JSON.stringify(payload)
      };
      fetch('/rename', init).then(res => console.log(res));
    }

      function move() {
      const payload = {
        key: 22,
        prePath: '/24/',
        newPath: '/',
        isdir: true
      }
      const headers = {
        'Accept': 'application/json, text/plain, */*',
        'Content-Type': 'application/json'
      }
      const init = {
        headers,
        method: 'PUT',
        body: JSON.stringify(payload)
      };
      fetch('/move', init).then(res => console.log(res));
    }

      const saveBlob = (function () {
        const a = document.createElement("a");
        document.body.appendChild(a);
        a.style = "display: none";
        return function (blob, fileName) {
          const url = window.URL.createObjectURL(blob);
          a.href = url;
          a.download = fileName;
          a.click();
          window.URL.revokeObjectURL(url);
        };
      } ());
    
    function download() {
      //fetch('/download?key=45').then(res => res.arrayBuffer()).then(res => console.log(res));
      const keys = [45];
      for (let key of keys) {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', `/download?key=${key}`, true);
        
        xhr.responseType = 'blob';
        xhr.onload = function (e) {
          if (this.status == 200) {
            console.log(xhr.response);
            var blob = this.response;
            saveBlob(blob, 'cat.jpg');
          }
        }
        xhr.send();
      }
    }


    function deleteReq() {
      const init = {
        method: 'DELETE'
      }
      fetch('/delete?key=6', init).then(res => console.log(res));
    }

    function mkdir() {
      const payload = {
        path: '/21/22/',
        name: 'folder2'
      }
      const headers = {
        'Accept': 'application/json, text/plain, */*',
        'Content-Type': 'application/json'
      }      
      const init = {
        headers,
        method: 'POST',
        body: JSON.stringify(payload)
      }
      fetch('/mkdir', init).then(res => console.log(res));
    }
  </script>
</body>

</html>