<!-- index.html -->
<html>

<head>
  <meta charset="utf-8">
</head>

<body>
  <div class='container' id='root'>
 </div>
  <h1>Index Page!</h1>
  <a href='/home'>my home page</a>
  <a href='/login'>Log in</a>
  <a href='/signup'>Sign up</a>

<!--    <input id='file' type='file'  name='files'  multiple='multiple' />
    <input id='dir' type="file" name='dir' webkitdirectory />
  <div>
    <button type='click' onclick="upload()" >UploadFile</button>
    <button type='click' onclick="uploadDir()" >UploadDir</button>
    <button type='click' onclick="rename()">Rename</button>
    <button type='click' onclick="download()">Download</button>
    <button type='click' onclick="deleteReq()">Delete</button>
    <button type='click' onclick="mkdir()">Mkdir</button>
    <button type='click' onclick="move()">Move</button>
    <button type='click' onclick="share()">Share</button>
    <button type='click' onclick="downShare()">downShare</button>
  </div>
   -->
  <script>
  let shareInfo;
    function upload() {
      const files = document.getElementById('file').files;
      const formData = new FormData();
      for (let file of files) {
        formData.append('files', file, file.name);
      }
      formData.append('path', '/');

      const xhr = new XMLHttpRequest();

      xhr.open('POST', '/upload', true);

      xhr.onload = e => {
        if (xhr.status == 200) {
          console.log(JSON.parse(xhr.response));
        }
      }
      xhr.send(formData);


      // const init = {
      //   method: 'POST',
      //   body: formData
      // };
      // fetch('/upload', init).then(res => console.log(res));
    }

    function uploadDir() {
      const files = document.getElementById('dir').files;
      const formData = new FormData();
      for (let file of files) {
        formData.append('files', file, file.webkitRelativePath);
      }
      formData.append('path', '/');

      const xhr = new XMLHttpRequest();
      xhr.open('POST', '/uploaddir', true);
      xhr.onload = e => {
        if (xhr.status == 200) {
          console.log(JSON.parse(xhr.response));
        }
      }
      xhr.send(formData);
      // const init = {
      //   method: 'POST',
      //   body: formData
      // };
      // fetch('/uploaddir', init).then(res => console.log(res));
    }

    function rename() {
      const json = {
        name: 'rename.jpg',
        key: 147
      }

      const xhr = new XMLHttpRequest();
      xhr.open('POST', '/rename?_method=PUT', true);
      xhr.onload = e => {
        if (xhr.status == 200) {
          console.log(JSON.parse(xhr.response));
        }
      }
      xhr.send(JSON.stringify(json));
    }

      function move() {
      const json = {
      key: 151,
      prePath: '/148/',
      newPath: '/',
      isdir: true
    }

      const xhr = new XMLHttpRequest();
      xhr.open('POST', '/move?_method=PUT', true);
      xhr.onload = e => {
        if (xhr.status == 200) {
          console.log(JSON.parse(xhr.response));
        }
      }
      xhr.send(JSON.stringify(json));
    }

      const saveBlob = (function () {
        const a = document.createElement("a");
        document.body.appendChild(a);
        a.style = "display: none";
        return function (blob, fileName) {
          const url = window.URL.createObjectURL(blob);
          a.href = url;
          a.download = fileName;
          a.click();
          window.URL.revokeObjectURL(url);
        };
      } ());
    
    function download() {
      //fetch('/download?key=45').then(res => res.arrayBuffer()).then(res => console.log(res));
      const keys = [72,76,79];
      if (keys.length == 1 && !keys[0].isdir) { //单文件
        let key = keys[0];
        const xhr = new XMLHttpRequest();
        xhr.open('GET', `/download?key=${key}`, true);
        
        xhr.responseType = 'blob';
        xhr.onload = function (e) {
          if (this.status == 200) {
            console.log(xhr.response);
            name = xhr.getResponseHeader('Content-disposition').split('=').pop();
            var blob = this.response;
            saveBlob(blob, name);
          }
        }
        xhr.send();

      } else {  //多文件/目录
        let query = keys.map( key  => 'key=' + key );
        query = query.join('&')

        const xhr = new XMLHttpRequest();
        xhr.open('GET', `/downloadzip?${query}`, true);
        
        xhr.responseType = 'blob';
        xhr.onload = function (e) {
          if (this.status == 200) {
            name = xhr.getResponseHeader('Content-disposition').split('=').pop();

            var blob = this.response;
            const time = new Date().getTime().toString();
            saveBlob(blob, name);
          }
        }
        xhr.send();
      }
    }


    function deleteReq() {
      const init = {
        method: 'DELETE'
      }
      fetch('/delete?key=6', init).then(res => console.log(res));
    }

    function mkdir() {
      const payload = {
        path: '/21/22/',
        name: 'folder2'
      }
      const headers = {
        'Accept': 'application/json, text/plain, */*',
        'Content-Type': 'application/json'
      }      
      const init = {
        headers,
        method: 'POST',
        body: JSON.stringify(payload)
      }
      fetch('/mkdir', init).then(res => console.log(res));
    }

    function share() {
      const xhr = new XMLHttpRequest();
      const unshare = new XMLHttpRequest();

      xhr.open('POST', '/share', true);
      

      xhr.onload = function (e) {
      if (this.status == 200) {
        const res = JSON.parse(xhr.response);
        shareInfo = res;
        //unshare.open('POST', `/unshare?_method=DELETE`, true);
        //unshare.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        //unshare.send(`addr=${res.addr}`);
      }
     }

     unshare.onload = function(e) {
       if (this.status == 200) {
         console.log(JSON.parse(unshare.response));
       }
     }

      const keys = [66,67,68,69,70];
      let query = keys.map(key => 'key=' + key);
      query = query.join('&') + '&isSecret=1'
      xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhr.send(query);
   }

    function downShare() {

      const xhr = new XMLHttpRequest();
      xhr.open('GET', `/downshare?addr=${shareInfo.addr}`, true);

      xhr.responseType = 'blob';
      xhr.onload = function (e) {
        if (this.status == 200) {
          name = xhr.getResponseHeader('Content-disposition').split('=').pop();

          var blob = this.response;
          const time = new Date().getTime().toString();
          saveBlob(blob, name);
        }
      }
      xhr.send();
    }                                                
  </script>
</body>

</html>