<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>signup</title>
</head>
<body>
  <form action="/signup" method="post">
    <p>
      <label>Username:
        <input type="text" name="username" />
      </label>
    </p>
    <p>
      <label>Password:
        <input type="password" name="password"/>
      </label>
    </p>
    <p>
      <button type="submit">Log In</button>
    </p>
    <p>
      <a href="/auth/github">Sign in with Github</a>
    </p>
  </form>
</body>
</html>