.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
.header {
  height: 70px;
  background-color: white;
  border-width: 2px 0px 0px 0px;;
  border-color: #3698b3;
}
.logo {
  width: 100%;
  height: 100%;
}
.header .logo img {
  height: 45%;
  width: auto;
  margin-top: 10px;

}
.header .description {
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-size: 13px;
}
.header .collapse .navbar-nav,
.header .navbar-header {
  height: 100%;
}
.header .input-group {
  height: 40px;
  margin: 14px 0px;
}
.header .input-group input,
.header .input-group button {
    display: inline-block;
    height: 100%;
}
.header .collapse .navbar-right .dropdown-toggle {
  padding: 0px;
  line-height: 68px;
}
.navbar-form .form-control {
  width: 100%;
}
#submit {
  height: 40px;
}
.header .navbar-right {
  margin-right: 15px;
  padding-right: 10px;
}

.header .navbar-right img {
  height: 38px;
  width: auto;
  margin: 10px 10px;

}

.nav-side-menu,
.workspace{
	-webkit-transition: margin 200ms ease-out;
	-moz-transition: margin 200ms ease-out;
	-o-transition: margin 200ms ease-out;
	transition: margin 200ms ease-out;
	}

#unshare-div {
  display: inline;
}
.modal-dialog {
  position: absolute;
  left: 40%;
  top: 40%
}
.hover-share-modal .modal-body>div {
  line-height: 50px;
}
#addshare .modal-body>div {
  line-height: 50px;
}
#addshare .modal-body>div button {
  margin: 0px 12px;
}
#addshare .modal-body>div span {
  font-size: 15px;
  font-family: Verdana;
}
.addshare-modal button {
  margin: 0px 12px;
}
.addshare-modal .modal-body>div{
  line-height: 50px;
}
.functionbar {
  height: 60px;
  background-color: #fbfbfb;
}
.new-upload {
  width: 240px;
}
#new {
  font-family: Verdana;
  color: white;
  width: 75px;
  height: 28px;
  line-height: 16px;
  margin: 16px 15px 16px 9px;
  background-color: #80b950;
}
#upload-dropdown {
  display: inline;
}

#upload {
  height: 28px;
  line-height: 16px;
  font-family: Verdana;
  color: green;
  border-color: #5a8130;
  background-color: white;
  margin: 16px 0px;
}
.funcbarsvg {
  margin-right: 3px; 
}
.tool {
  font-family: Verdana;
  color: green;
  line-height: 16px;
  background-color: white;
  border-color: #5a8130;
  height: 28px;
  margin: 16px 7px;
}
.toolbar {
  position: absolute;
  right: 50px;
  display: inline;
}
.view:hover{
  background-color: oldlace;
}
.view-icon {
  box-sizing: content-box;
  padding-right: 5px;
  width: 20px;
  height: 20px;
}

input[type=file] {
  display: none;
}


.alert {
  position: fixed;
  right: 15px;
  bottom: 0px;
}
.breadcrumb {
  font-size: 16px;
  display: inline-block;
  background-color: #fbfbfb;
  padding: 18px 10px;
}

.navbar-brand {
  width: 250px;
  font-family: verdana;
  font-size: 28px;
  font-weight: 300;
}
.displaybar {
  display: inline-block;
  height: 60px;
  background-color: #fbfbfb;

}
.displaybar>span {
  margin-left: 20px;
  line-height: 60px;
  font-family: sans-serif;
  font-size: 28px;
  font-weight: normal
}
.sharespace,
.workspace {
  overflow: auto;
  border-width: 0px;
  height: 100%
}
.react-contextmenu-item span {
margin-right: 8px;
}

thead {
  border: 1px solid #c7c7c7;
}
.fa-sort {
  margin: 0px 5px;
}
.table>thead>tr>th {
  padding: 0px 8px;;
  border-bottom: 1px solid #c7c7c7;
  vertical-align: middle;
}

tr td span {
  margin-left: 8px;
  vertical-align: middle;
  font-family: Verdana;
  font-size: 17px;
  font-weight: normal;

}
th {
  vertical-align: middle;
  font-family: verdana;
  height: 45px;
  padding: 0px;
  font-size: 15px;
  font-weight: 300;
  background-color: #f3f3f3;
}
tr {
  height: 45px; 
}
.table>tbody>tr>td {
  box-sizing: content-box;
  vertical-align: middle;
  height: 30px;
  padding: 7px 8px;
}
.hoverbar {
  float: right;
  max-height: 30px;
  margin-left: auto;
  margin-right: 5px;

}
.hover-icon {
  margin: 6px 3px;
}
.hovericon:hover {
  background-color: #B0E0E6;
}
.hover-more {
  display: inline;
}
.hoverbar li span {
  font-size: 16px;
  margin-left: 8px;
}
#search-result,
#my-share {
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.checkbox {
  width: 16px;
  height: 16px;
}
.icon {
  width: 30px;
  height: 30px;
}
.navbar {
  margin-bottom: 0px;
  font-family: verdana;
}

.sidebar-icon {
  box-sizing: content-box;
  float: right;
  width: auto;
  height: 21px;
  margin-top: 12px;
  padding: 0px 9px;
}
@media (max-width: 1024px) {
  .nav-side-menu {
    margin-left: -190px;
  }
  .nav-side-menu ul li {
    border-bottom: 1px #e5e5e5 solid;
  }
  .nav-side-menu a:first-child li {
    border-top: 1px #e5e5e5 solid;
  }
}
.nav-side-menu:hover {
  margin-left: 0px;
}
.nav-side-menu:hover ul li {
  border-top-width: 0px;
  border-bottom-width: 0px;
}
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #3b4547;
  width: 240px;
  padding-right: 0px;
  height: 100%;
  color: #e1ffff;
}
.sidebar-description {
  margin-left: 10px;
  font-size: 14px;
}
.nav-side-menu a li span {
  color: white;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}

.nav-side-menu ul ul {
  background-color: #303c3f;
}


.nav-side-menu>div>ul>a>li {
  line-height: 45px;
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #80b950;
  background-color: #4f5b69;
}


.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #80b950;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.nav-side-menu .menu-list .menu-content {
  display: block;
}



.react-contextmenu {
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 16px;
    color: #373a3c;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    outline: none;
    opacity: 0;
    pointer-events: none;
}

.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
}

.react-contextmenu-item {
    width: 200px;
    padding: 3px 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
	cursor: pointer;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item:hover {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-submenu {
	padding: 0;
}

@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?6k6kta');
  src:  url('/fonts/icomoon.eot?6k6kta#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?6k6kta') format('truetype'),
    url('/fonts/icomoon.woff?6k6kta') format('woff'),
    url('/fonts/icomoon.svg?6k6kta#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-cancelshare:before {
  content: "\e900";
  font-size: larger;
  vertical-align: middle;
}
.icon-checkbox:before {
  content: "\e901";
}
.icon-checkbox_check:before {
  content: "\e902";
  font-size: larger;
  vertical-align: middle;
}
.icon-delete:before {
  content: "\e903";
  font-size: larger;
  vertical-align: middle;
}
.icon-download:before {
  content: "\e904";
  font-size: larger;
  vertical-align: middle;
}
.icon-folder:before {
  content: "\e905";
  font-size: larger;
  vertical-align: middle;
}
.icon-more:before {
  content: "\e906";
  font-size: larger;
  vertical-align: middle;
}
.icon-moveto:before {
  content: "\e907";
  font-size: larger;
  vertical-align: middle;
}
.icon-new:before {
  content: "\e908";
  font-size: larger;
  vertical-align: middle;
}
.icon-rename:before {
  content: "\e909";
  font-size: larger;
  vertical-align: middle;
}
.icon-saveas:before {
  content: "\e90a";
  font-size: larger;
  vertical-align: middle;
}
.icon-search:before {
  content: "\e90b";
  font-size: larger;
  vertical-align: middle;
}
.icon-share:before {
  content: "\e90c";
  font-size: larger;
  vertical-align: middle;
}
.icon-upload:before {
  content: "\e90d";
  font-size: larger;
  vertical-align: middle;
}
.icon-uploadfolder:before {
  content: "\e90e";
  font-size: larger;
  vertical-align: middle;

}

.green-icon {
  color: #5a8130;
}

.white-icon {
  color: white;
}
.blue-icon {
  color: #3698B3;
}
.functionbar .toolbar>button {
  line-height: inherit;
}

.in-functionbar {
  line-height: inherit;
  display: block;
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
  font-family: Verdana;
}
.in-label {
  font-family: Verdana;
  padding-right: 5px;
  font-weight: normal;
  font-size: 13px;
}
#upload-dir,
#upload-files {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}