<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <% include menu.html %>
  <h1>Photos</h1>
  <p>Rewrite by Koa!</p>
  <p>click photo name to download</p>
  <div id="photos">
    <% for (let index in photos) { %>
      <div class="photo">
        <h2>
          <a href='<%=index%>/download'>
            <%=photos[index].name%>
          </a>
        </h2>
        <img src='/photos/<%=photos[index].path%>' />
      </div>
      <% } %>
  </div>
  <div>
    <a href='/upload'>Click here to Upload~ </a>
  </div>
</body>

</html>