.header {
  height: 70px;
  background-color: white;
  border-width: 2px 0px 0px 0px;;
  border-color: #3698b3;
}

.logo{
  height: 30px;
  width: 112px;
  margin-top: 17px;
  margin-bottom: 17px;
}
.description {
  position: relative;
  top: 12px;
  left: 5px;
  font-size: small;
}
.breadcrumb {
  height: 45px;
  margin: 0px 0px;;
  background-color: #fbfbfb;
  display: inline-block;
  width: 80%

}
.toolbar {
  display: inline-block;
}
thead {
  border: 1px solid #c7c7c7;
  background: #f3f3f3;
}
.table>thead>tr>th {
  vertical-align: middle;
}